src/main/mule/khatpoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1d816e0-bab9-40c2-a3dc-66e8d8576138" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="khatpocFlow" doc:id="45509489-1b4a-4231-b0bf-d70c439415c8" >
		<http:listener doc:name="Listener" doc:id="565ca966-d23c-4527-98d1-b36b5aa3c5cb" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[[1,2,3]]" doc:name="Set Payload" doc:id="84a1f864-7900-484b-b00e-271ff6f1cb97" />
		<logger level="INFO" doc:name="Logger" doc:id="2a6d4de4-e2dc-4509-8195-c6938e683ff2" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="2b5905a4-20da-4972-a280-7d36a1df7082" />
		<ee:transform doc:name="Transform Message" doc:id="ca507711-b02d-4d0f-8a03-79c2b34afb3e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
