src/main/mule/testinggitproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="08d446e0-ec04-435a-bf93-b77147f02279" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testinggitprojectFlow" doc:id="0a4009ce-c1ac-45c8-914e-1a3ef98bd634" >
		<http:listener doc:name="Listener" doc:id="7616af5f-9e2e-4ba3-83a0-757d3ce7f7a3" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="912cc3d4-a7c5-4547-9e8a-6153892ca761" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[1,2,3,4]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6eb20dfc-226d-4843-bac1-38bfad2fe24b" message="#[payload]"/>
	</flow>
</mule>
